
html(lang="en")
  head
    meta(charset="utf-8")
    title Doodle Bucket 
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" , rel="stylesheet",type="text/css")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
    link(rel="shortcut icon", href="/assets/img/favicon.png")
    block style
  block body
  block scripts